<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pois0nbread.fffintent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".UseInfoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>

        <activity
            android:name=".ViewActivity"
            android:icon="@mipmap/icon"
            android:label="百度贴吧(跳转器)">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tieba.baidu.com"
                    android:pathPattern="/p/.*"
                    android:scheme="http" />
                <data
                    android:host="tieba.baidu.com"
                    android:pathPattern="/p/.*"
                    android:scheme="https" />
                <data
                    android:host="m.baidu.com"
                    android:pathPattern="/p/.*"
                    android:scheme="http" />
                <data
                    android:host="m.baidu.com"
                    android:pathPattern="/p/.*"
                    android:scheme="https" />
                <data
                    android:host="tieba.baidu.com"
                    android:pathPattern="/f"
                    android:scheme="http" />
                <data
                    android:host="tieba.baidu.com"
                    android:pathPattern="/f"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".QuickStartService"
            android:icon="@mipmap/title_icon"
            android:label="用贴吧打开链接\n(从剪切板打开)"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
    </application>

</manifest>