<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pois0nbread.fuckingintent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ViewActivity"
            android:icon="@mipmap/icon"
            android:label="百度贴吧">
            ​<intent-filter>
            <action android:name="android.intent.action.VIEW">
            </action>
            <category android:name="android.intent.category.DEFAULT">
            </category>
            <category android:name="android.intent.category.BROWSABLE" >
            </category>
            <data
                android:scheme="http"
                android:host="tieba.baidu.com"
                android:pathPattern="/p/.*">
            </data>
            <data
                android:scheme="https"
                android:host="tieba.baidu.com"
                android:pathPattern="/p/.*">
            </data>
            <data
                android:scheme="http"
                android:host="m.baidu.com"
                android:pathPattern="/p/.*">
            </data>
            <data
                android:scheme="https"
                android:host="m.baidu.com"
                android:pathPattern="/p/.*">
            </data>
            <data
                android:scheme="http"
                android:host="tieba.baidu.com"
                android:pathPattern="/f">
            </data>
            <data
                android:scheme="https"
                android:host="tieba.baidu.com"
                android:pathPattern="/f">
            </data>
        </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>